<div class="border px-2 py-2">
  <ul class="list-group placeholder-list" cdkDropList (cdkDropListDropped)="drop($event)">
    <li class="list-group-item placeholder-box" *ngFor="let ph of templatePlaceholders" cdkDrag>
      <div class="d-flex" *ngIf="ph._embedded">
        <div class="text-center me-3 placeholder-drag-handle" cdkDragHandle>
          <i class="bi-grip-vertical"></i><span class="mt-0 mb-1">{{ ph.position }}</span>
        </div>
        <div class="flex-grow-1">
          <p class="mt-0 mb-1 fw-bold">{{ ph._embedded.placeholder.name }}</p>
          <small>{{ ph._embedded.placeholder.description }}</small>
        </div>
        <div class="text-end">
          <p class="mt-0 mb-1">{{ ph._embedded.placeholder.type }}</p>
          <small>{{ ph.mandatory ? 'mandatory' : '' }}</small>
        </div>
      </div>
    </li>
  </ul>
</div>
