<div class="d-flex justify-content-between align-items-center mb-2">
  <span class="spinner-border spinner-border-sm text-primary me-3-" *ngIf="_spin"></span> 
  <span class="" *ngIf="!_spin"><i class="bi-arrow-clockwise text-white" (click)="refresh()"></i></span> 
  <div class="position-relative">
    <div role="group" class="gl-w-full btn-group-" *ngIf="templatePlaceholders?.length">
      <button aria-label="Add placeholder" type="button" class="btn btn-default btn-md gl-button btn-icon me-3" (click)="_onCreatePlcaholder()" *ngIf="_editPlaceholders">
        <span class="">{{ 'APP.BUTTON.CreateNewPlaceholder' | translate }}</span>
      </button>
      <button type="button" class="btn btn-default btn-md gl-button btn-icon" (click)="_onEditPlaceholders($event)" [tooltip]="(_editPlaceholders ? '' : 'APP.TOOLTIP.EditPlaceholders') | translate" placement="left">
        <span *ngIf="!_editPlaceholders"><i class="bi-pencil"></i></span>
        <span *ngIf="_editPlaceholders"><i class="bi-x-lg"></i><span class="ms-2">{{ 'APP.BUTTON.Cancel' | translate }}</span></span>
      </button>
    </div>
  </div>
</div>
<div class="border- px-2 py-2">
  <ul class="list-group placeholder-list" cdkDropList (cdkDropListDropped)="drop($event)" cdkDropListLockAxis="y" [cdkDropListDisabled]="!_editPlaceholders">
    <li class="list-group-item placeholder-box text-center py-3" *ngIf="!templatePlaceholders?.length">
      <span class="">{{ 'APP.MESSAGE.NoPlaceholder' | translate }}</span>
    </li>
    <li class="list-group-item placeholder-box pe-2" *ngFor="let ph of templatePlaceholders" cdkDrag>
      <div class="d-flex" *ngIf="ph._embedded">
        <div class="text-center me-3 placeholder-drag-handle" [class.cursor-move]="_editPlaceholders" cdkDragHandle>
          <i class="bi-grip-vertical" *ngIf="_editPlaceholders"></i><span class="mt-0 mb-1">{{ ph.position }}</span>
        </div>
        <div class="flex-grow-1">
          <app-placeholder-item
            [templateId]="id"
            [data]="ph"
            [config]="placeholdersConfig"
            [editable]="_editPlaceholders"
            (save)="_onSave($event)"
            (delete)="_onDelete($event)">
          </app-placeholder-item>
        </div>
      </div>
    </li>
    <li class="list-group-item placeholder-box pe-2" *ngIf="_isNew || _createPlaceholder" id="add-form">
      <div class="border border-2 border-danger">
        <app-placeholder-item
          [templateId]="id"
          [data]="null"
          [createPlaceholder]="_createPlaceholder"
          [toExcluded]="templatePlaceholders"
          [config]="placeholdersConfig"
          (close)="_onClose($event)"
          (save)="_onSave($event)">
        </app-placeholder-item>
      </div>
    </li>
  </ul>
</div>
<div class="row-content-block footer-block text-end mt-1 py-2" *ngIf="_editPlaceholders">
<!-- <div class="d-flex justify-content-between align-items-center mt-2"> -->
  <!-- <span class="spinner-border spinner-border-sm text-primary me-3-" *ngIf="_spin"></span>  -->
  <!-- <span class="">&nbsp;</span>  -->
  <div class="position-relative">
    <div role="group" class="gl-w-full btn-group-">
      <button aria-label="Add placeholder" type="button" class="btn btn-default btn-md gl-button btn-icon me-2" (click)="_onNew()" [tooltip]="'APP.TOOLTIP.AddPlaceholder' | translate" placement="left" *ngIf="!_isNew">
        <i class="bi-plus-lg"></i><!-- <span class="ms-2">{{ 'APP.BUTTON.AddPlaceholder' | translate }}</span> -->
      </button>
      <!-- <span class="me-3 text-danger small" *ngIf="_modifiedPlaceholders"><i class="bi-circle-fill"></i></span> -->
      <button aria-label="Add placeholder" type="button" class="btn btn-confirm btn-md gl-button btn-icon" (click)="_onSavePlaceholders($event)" [disabled]="!_modifiedPlaceholders">
        <span class="">{{ 'APP.BUTTON.Save' | translate }}</span>
      </button>
    </div>
  </div>
</div>
