.placeholder-drag-handle {
  cursor: move;
}

.form-sm {
  label {
    font-size: 0.8rem;
  }

  .form-control, .form-select, .search form {
    font-size: 0.8rem;
    height: 25px;
  }
}

.smaller {
  font-size: 0.4rem;
}
